In [11]:
 # Que.1  Discuss string slicing and provide examples.

# Ans.  Python slicing is about obtaining a sub-string from the given string by slicing it respectively from start to end.
# It follows the format string[start:end], where start is the index where slicing begins (inclusive) and end is the index where it ends (exclusive).
# Slicing means extracting a part from something, and slicing a string means extracting some part from a string. This extracted part is also referred to as a sub-string.
#In short, string slicing in Python is obtaining a #substring from a larger string by slicing it based on specific criteria. String slicing allows us to obtain a specific
#range of characters from a string based on their respective indices.

school = "Roman reings is back at summerslam and shock the world"

type(school)

str

In [12]:
len(school)

54

In [4]:
school[0:10]                 # 0 index is included and the 10 is excluded

'Roman rein'

In [6]:
school[5:]

' reings is back at summerslam and shock the wrold'

In [8]:
school[:-6]

'Roman reings is back at summerslam and shock the'

In [13]:
school[::1]   #by this we get whole string

'Roman reings is back at summerslam and shock the world'

In [14]:
school[::-1] #we can revrse the strings

'dlrow eht kcohs dna malsremmus ta kcab si sgnier namoR'

In [15]:
school[::2]   #we can say tha jump string over and over as per need of the interval

'Rmnrig sbc tsmesa n hc h ol'

In [ ]:
# Que.  2 Explain the key features of lists in Python.

# Ans. Lists are mutable and dynamic; list items can be added, removed or changed after the list is defined. Lists are ordered; newly added items will be placed at the end of the list. Lists use zero-based indexing; # # # # every list item has an associated index, and the first item's index is 0.

# The important characteristics of Python lists are as follows:

# Lists are ordered.
#Lists can contain any arbitrary objects.
#List elements can be accessed by index.
#Lists can be nested to arbitrary depth.
#Lists are mutable.
#Lists are dynamic.

In [16]:
# Que. 3 Describe how to access, modify, and delete elements in a list with examples ?

# Ans . The syntax for accessing the elements of a list is the same as the syntax for accessing the characters of a string. We use the index operator ( [] – not to be confused with an empty list). The expression inside the #brackets specifies the index.

Cars = ["ferrar" , "neon", "scorpio" , "porch" , "fortuner"]

type(Cars)

list

In [17]:
len(Cars)

5

In [19]:
Cars[0]

'ferrar'

In [20]:
Cars[2]

'scorpio'

In [21]:
Cars[3]

'porch'

In [22]:
print(Cars[0])

ferrar

In [24]:
print(Cars[0:4])

['ferrar', 'neon', 'scorpio', 'porch']

In [25]:
Cars

['ferrar', 'neon', 'scorpio', 'porch', 'fortuner']

In [27]:
#Python lists can store an ordered collection of items, or elements, of varying types. They are often used to compile multiple items into a single, mutable variable,
#which is helpful for retrieving items, specifying #outputs or performing calculations quickly.
#Lists are also a type of built-in data structure in Python (along with tuples, sets and dictionaries), which is a specified way of storing and formatting data.

#8 Ways to Modify a Python List
#Index method.
#Count method.
#Sort method.
#Append method.
#Remove method.
#Pop method.
#Extend method.
#Insert method.

Cars

['ferrar', 'neon', 'scorpio', 'porch', 'fortuner']

In [29]:
Cars.count("porch")    #it show the freqauncy of an element

1

In [36]:
sorted(Cars)  #arrange the list in alphbatically order

['ferrar', 'fortuner', 'neon', 'porch', 'scorpio']

In [37]:
Cars.append("maruti")  #add the item at last of the list

In [38]:
Cars

['ferrar', 'neon', 'scorpio', 'porch', 'fortuner', 'maruti']

In [40]:
Cars.remove("porch") #remove the item from the list

In [41]:
Cars

['ferrar', 'neon', 'scorpio', 'fortuner', 'maruti']

In [42]:
Cars.pop()  #by default rremove the last item from data structure

'maruti'

In [43]:
Cars

['ferrar', 'neon', 'scorpio', 'fortuner']

In [44]:
Cars.insert(2, "swift") # add the item befor the desirable item

In [45]:
Cars

['ferrar', 'neon', 'swift', 'scorpio', 'fortuner']

In [47]:
Cars[0:2]  # Index acc. to wish

['ferrar', 'neon']

In [49]:
Bikes = ["Honda" , "hero" , "Yamaha" , "bajaj"]
Bikes

['Honda', 'hero', 'Yamaha', 'bajaj']

In [51]:
type(Bikes)

list

In [52]:
Cars

['ferrar', 'neon', 'swift', 'scorpio', 'fortuner']

In [53]:
Cars.extend(Bikes)      #extend function will effect the lef hand side list but no other list

In [54]:
Cars

['ferrar',
 'neon',
 'swift',
 'scorpio',
 'fortuner',
 'Honda',
 'hero',
 'Yamaha',
 'bajaj']

In [55]:
Bikes

['Honda', 'hero', 'Yamaha', 'bajaj']

In [56]:
# Que.4  Compare and contrast tuples and lists with examples.

#Ans #Diffrence between List and tuple

#1	Lists are mutable & Tuples are immutable
#2	The implication of iterations is Time-consuming & 	The implication of iterations is comparatively Faster
#3	The list is better for performing operations, such as insertion and deletion. & 	A Tuple data type is appropriate for accessing the elements
#4	Lists consume more memory & 	Tuple consumes less memory as compared to the list
#5	Lists have several built-in methods & 	Tuple does not have many built-in methods.
#6	Unexpected changes and errors are more likely to occur & 	Because tuples don’t change they are far less error-prone

Subjects = ["hindi" , "marathi" , "maths" , "scinece" , "social"]

City = ("inodre" , "pune" , "nagpur" , "mumbai" , "delhi")

type(Subjects)

list

In [57]:
type(City)

tuple

In [59]:
Subjects[0]= "english"   #list is mutuable

In [60]:
Subjects

['english', 'marathi', 'maths', 'scinece', 'social']

In [61]:
City[0]

'inodre'

In [62]:
City[0]= "nasik"  #tupple  is immutuable

TypeError: 'tuple' object does not support item assignment

In [64]:
# Que 5. Describe the key features of sets and provide examples of their use.

#Ans.  Sets are a well-defined collection of objects. Objects that a set contains are called the elements of the set. We can also consider sets as collections of
#elements that have a common feature. For example, the #collection of even numbers is called the set of even numbers.
#The foremost property of a set is that it can have elements, also called members. Two sets are equal when they have the same elements.
##More precisely, sets A and B are equal if every element of A is an element of B, #and every element of B is an element of A; this property is called the extensionality of sets.

Brands = {}
type(Brands)     #Here you can see that the empty set is nothing but a dictioney so the sset must be have any elemet in any data type

dict

In [65]:
Brands = {"nike", "puma", "hrx" , "casio" ,  "armani"}     #Brands is set

In [66]:
Brands

{'armani', 'casio', 'hrx', 'nike', 'puma'}

In [67]:
type(Brands)

set

In [68]:
Brands.add("nike")   #nike add twice by add opreation but set show only single time as set is unique collection of set

In [69]:
Brands

{'armani', 'casio', 'hrx', 'nike', 'puma'}

In [71]:
Brands.remove("puma")

In [72]:
Brands

{'armani', 'casio', 'hrx', 'nike'}

In [73]:
Brands.pop()

'armani'

In [74]:
Brands

{'casio', 'hrx', 'nike'}

In [76]:
Brands.update("rebook") #To update the a new element

In [77]:
Brands

{'b', 'casio', 'e', 'hrx', 'k', 'nike', 'o', 'r'}

In [79]:
Brands.update(["zara" , "zara"])  #This the way to update a new elemet in sets with you geting sepreated the element form.

In [80]:
Brands

{'b', 'casio', 'e', 'hrx', 'k', 'nike', 'o', 'r', 'zara'}

In [82]:
Brands.remove("r")   #by using remove we can remove the desirable element.

In [83]:
Brands

{'b', 'casio', 'e', 'hrx', 'k', 'nike', 'o', 'zara'}

In [84]:
Brands.discard("zara")  #by using discard we can remove the desirable element. Diffrnce between remove and discard is that discard never give an erron
#if the element which we want remove by using dicrad if is not existed at all in set.

In [85]:
Brands

{'b', 'casio', 'e', 'hrx', 'k', 'nike', 'o'}

In [88]:
Marks = { 100,  200 , 300 , 400}
Students = {"Yash" , "rihsi" ,"varun" , "ashish"}

Marks | Students      #uinon set

{100, 200, 300, 400, 'Yash', 'ashish', 'rihsi', 'varun'}

In [89]:
Marks & Students      #intersection set  as there is no common object is become empty set

set()

In [90]:
Marks - Students      #difference set is remove the common object from the set 1 here there is no common obejct so the SET 1 come as it as

{100, 200, 300, 400}

In [93]:
Marks ^ Students    #symmatric set is remove the common object from the set 1 here there is no common obejct so the SET 1 come as it as

{100, 200, 300, 400, 'Yash', 'ashish', 'rihsi', 'varun'}

In [95]:
Marks

{100, 200, 300, 400}

In [97]:
Marks[0]  #set is not support indexing as is unordered

TypeError: 'set' object is not subscriptable

In [98]:
Students

{'Yash', 'ashish', 'rihsi', 'varun'}

In [99]:
Students.add("yaashi")   #sets are immutable

In [100]:
Students

{'Yash', 'ashish', 'rihsi', 'varun', 'yaashi'}

In [102]:
Students.remove("rihsi")

In [103]:
Students

{'Yash', 'ashish', 'varun', 'yaashi'}

In [105]:
Students

{'Yash', 'ashish', 'varun', 'yaashi'}

In [107]:
Watches = frozenset(["casio" , "arrmani", "titain" , "fossil"])

In [108]:
Watches

frozenset({'arrmani', 'casio', 'fossil', 'titain'})

In [109]:
type(Watches)

frozenset

In [110]:
Watches.add("zara")   #frozenset is type of immutable sets

AttributeError: 'frozenset' object has no attribute 'add'

In [111]:
#Que 6. Discuss the use cases of tuples and sets in Python programming.

#Ans. 6 Tuples and sets are both data structures in Python. Tuples are ordered collections of elements, which are immutable (meaning they can't be changed once created). Sets, on the other hand, are unordered collections of unique elements.

#Tuples are used to store heterogeneous and homogeneous data. Tuples are immutable in nature. An index is used to traverse a tuple.

Jungle = ("lion" , "giraf" , "snake" , "tiger" , "elephant")

type(Jungle)

tuple

In [114]:
Jungle.count("lion")

1

In [115]:
Jungle[::-1]

('elephant', 'tiger', 'snake', 'giraf', 'lion')

In [117]:
print(i,end = " ")

elephant

In [119]:
for i in Jungle:
  print(i ,end = " ")

lion giraf snake tiger elephant

In [120]:
max(Jungle)

'tiger'

In [121]:
min(Jungle)

'elephant'

In [122]:
len(Jungle)

5

In [123]:
Jungle[0:4]

('lion', 'giraf', 'snake', 'tiger')

In [125]:
Zoo = ( "cow ", "Dog" , " Cat")

In [126]:
Zoo

('cow ', 'Dog', ' Cat')

In [128]:
Animals = Jungle + Zoo

In [129]:
Animals     #Here we can comibine two tuples together

('lion', 'giraf', 'snake', 'tiger', 'elephant', 'cow ', 'Dog', ' Cat')

In [131]:
"lion" not in Animals   #memership

False

In [132]:
"Dog" in Animals

True

In [ ]:
#Note === For the use cases of Sets you can refer QUE.5 there is breif elobration of sets b

In [133]:
#Que 7. Describe how to add, modify, and delete items in a dictionary with examples.

#Ans .  #We can Adding an item to the dictionary is done by using a new index key and assigning a value to it:

Office_data = {"Yash":31156,  "vivek":31157, "radha": 31147 , "rishi":31180}

type(Office_data)

dict

In [135]:
Office_data["varun"]= 311111    #this is the way we can add the item

In [136]:
Office_data

{'Yash': 31156,
 'vivek': 31157,
 'radha': 31147,
 'rishi': 31180,
 'varun': 311111}

In [137]:
Office_data["radha"]= 31150   #in such way we can modfiy the data

In [138]:
Office_data

{'Yash': 31156,
 'vivek': 31157,
 'radha': 31150,
 'rishi': 31180,
 'varun': 311111}

In [144]:
del Office_data["Yash"]   #In such way we can delete the element

In [145]:
Office_data

{'vivek': 31157, 'radha': 31150, 'rishi': 31180, 'varun': 311111}

In [146]:
#Que 8. Discuss the importance of dictionary keys being immutable and provide examples ?

#Ans . Immutability is essential for keys because it ensures that the dictionary can efficiently look up values based on their keys.
#If a key was mutable, its hash value could change, making it impossible to find the #associated value in the dictionary.
#since whoever changes the key object can't tell that it was being used as a dictionary key, it can't move the entry around in the dictionary.


Guns = {"AK47": 100 , "M14":50 , "Sniper Rifles": 250 , "bazuka": 500}
type(Guns)

dict

In [147]:
Guns["AK47"]  #We can acess the value by keys but not vice versa

100

In [148]:
Guns["M14"] = 550  #We can modify the value by keys but not vice versa bcz vaalue are associated with the keys not value wihh keys

In [149]:
Guns

{'AK47': 100, 'M14': 550, 'Sniper Rifles': 250, 'bazuka': 500}